##############################################################################
#
# Scenario Description
#
##############################################################################

## inputs
# Data
SSM::set Controller/Sensor_Temperature (0.0,0.0,0.0)
# Data
SSM::set Controller/Sensor_pH (0.0,0.0,0.0)
# Data
SSM::set Controller/Sensor_Redox (0.0,0.0,0.0)
# position
SSM::set Controller/Sensor_GPS (0.0,0.0)
# float64
SSM::set Controller/Time 0.0
# bool
SSM::set Controller/Stop false
# float64
SSM::set Controller/Frequency 0.0
## outputs
# Statation_data
#SSM::check Controller/Send_Data (0.0,0.0,0.0,(0.0,0.0),0.0)
# bool
#SSM::check Controller/alarm false

