##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias Sensor_Temperature Controller/Sensor_Temperature
SSM::alias Sensor_pH Controller/Sensor_pH
SSM::alias Sensor_Redox Controller/Sensor_Redox
SSM::alias Sensor_GPS Controller/Sensor_GPS
SSM::alias Time Controller/Time
SSM::alias Stop Controller/Stop
SSM::alias Frequency Controller/Frequency
## outputs
SSM::alias Send_Data Controller/Send_Data
SSM::alias Send_Data_Redox Controller/Send_Data.Redox
SSM::alias Send_Data_Temperature Controller/Send_Data.Temperature
SSM::alias Send_Data_Time Controller/Send_Data.Time
SSM::alias Send_Data_pH Controller/Send_Data.pH
SSM::alias Send_Data_Position Controller/Send_Data.Position
SSM::alias alarm Controller/alarm
