##############################################################################
#
# Scenario Description
#
##############################################################################


## inputs

# 8. 
## 
# temperatere sensor is broken: one sensor is broken
# Data
SSM::set Sensor_Temperature (-30.2,17.4,16.3)
# Data
SSM::set Sensor_pH (7.0,8.5,7.2)
# Data
SSM::set Sensor_Redox (810.1,780.9,3100.2)
# position
SSM::set Sensor_GPS (48.5,2.22)
# float64
SSM::set Time 10.03
# bool
SSM::set Stop false
# float64
SSM::set Frequency 1.0
## outputs
# Statation_data
#SSM::check Send_Data (0.0,0.0,0.0,(0.0,0.0),0.0)
# bool
SSM::cycle 
SSM::check alarm true
SSM::cycle 


