##############################################################################
#
# Scenario Description
#
##############################################################################

## inputs



# 7. 
## 
# PH sensor is broken: all sensors are broken
# Data
SSM::set Sensor_Temperature (13.1,17.4,17.6)
# Data
SSM::set Sensor_pH (15.1,-1.0,-2.12)
# Data
SSM::set Sensor_Redox (795.2,810.1,720.9)
# position
SSM::set Sensor_GPS  (48.5,2.22)
# float64
SSM::set Time 5.0
# bool
SSM::set Stop false
# float64
SSM::set Frequency 1.0
## outputs
# Statation_data
#SSM::check Send_Data (0.0,0.0,0.0,(0.0,0.0),0.0)
# bool
SSM::cycle 
SSM::check alarm true
SSM::cycle 